@model DateRequestModel
@{
    ViewData["Title"] = "Date Request";
}

@{
    Layout = "MainLayout";
}

<form asp-controller="EditProfile" asp-action="Update" method="post">
    <div class="centdiv">
        <div class="centcontent">
            <h1 style="color:darkred">Date Request</h1>
            <br />
            <br />
            <h4>Date:</h4>
            <input asp-for="Date" />
            <br />
            <br />
            <h4>Time:</h4>
            <select asp-for="Time">
                <option>No Selection</option>
                <option>12AM</option>
                <option>1AM</option>
                <option>2AM</option>
                <option>3AM</option>
                <option>4AM</option>
                <option>5AM</option>
                <option>6AM</option>
                <option>7AM</option>
                <option>8AM</option>
                <option>9AM</option>
                <option>10AM</option>
                <option>11AM</option>
                <option>12PM</option>
                <option>1PM</option>
                <option>2PM</option>
                <option>3PM</option>
                <option>4PM</option>
                <option>5PM</option>
                <option>6PM</option>
                <option>7PM</option>
                <option>8PM</option>
                <option>9PM</option>
                <option>10PM</option>
                <option>11PM</option>
            </select>
            <br />
            <br />
            <h4>Description:</h4>
            @Html.TextAreaFor(m => m.Description)
            <br />
            <br />
            <button type="submit" class="btn btn-success">Submit</button>

            <button type="button" class="btn btn-danger">Back</button>

        </div>
    </div>
    <footer class="bg-dark">
        <div class="container text-light text-center">
            <h5 class="p-5 mb-3">Copyright © 2024 Love Lounge. All rights reserved.</h5>
        </div>
    </footer>

</form>