@model TermProjectAPI.User
@{
    Layout = "MainLayout";
}



<!DOCTYPE html>

<html>
<head>

</head>
<body>


    <form asp-controller="EditProfile" asp-action="Update" method="post">
        <div class="centdiv">
            <div class="centcontent">



                <h1 style="color:darkred">Manage Profile</h1>

                @if (ViewBag.AccountUpdated != null)
                {
                    <div style="color:lawngreen">
                        @ViewBag.AccountUpdated
                    </div>
                }

                @if (ViewBag.InvalidNumber != null)
                {
                    <div style="color:red">
                        @ViewBag.AccountUpdated
                    </div>
                }


                <br />
                <br />
                <p>Profile Image:</p>
                <input asp-for="profileImage" />
                <br />
                <br />
                <p>Phone Number:</p>
                <input asp-for="phoneNumber" />
                <br />
                <br />
                <p>Address:</p>
                <input asp-for="address" />
                <br />
                <br />
                <p>City</p>
                <input asp-for="city" />
                <br />
                <br />
                <p>State</p>
                <select asp-for="state">
                    <option> No Selection</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Ariozna</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Conneticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>Morth Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>

                </select>
                <br />
                <br />
                <p>Occupation:</p>
                <input asp-for="occupation" />
                <br />
                <br />
                <p>Description:</p>
                <input asp-for="description" />
                <br />
                <br />
                <p>Age:</p>
                <input asp-for="age" />
                <br />
                <br />
                <p>Weight:</p>
                <input asp-for="weight" />
                <br />
                <br />
                <p>Height (ex: 5.5):</p>
                <input asp-for="height" />
                <br />
                <br />
                <p>Cat or Dog?:</p>
                <select asp-for="catOrDog">
                    <option>No Selection</option>
                    <option>Neither</option>
                    <option>Cat</option>
                    <option>Dog</option>
                </select>
                <br />
                <br />

                <p>What kind of commitment type do you want?:</p>
                <select asp-for="commitmentType">
                    <option>No Selection</option>
                    <option>Friends</option>
                    <option>Relationship</option>
                    <option>Marriage</option>
                    <option>Not Sure</option>
                </select>
                <br />
                <br />
                <br />
                <h4 style="color:forestgreen">Likes (Add up to 5):</h4>
                <br />

                @for (int i = 0; i < Model.likes.Count; i++)
                {
                    <p> <input asp-for="likes[i]" /></p>

                }





                <br />
                <h4 style="color:red">Dislikes (Add up to 5):</h4>
                <br />
                @for (int i = 0; i < Model.dislikes.Count; i++)
                {
                    <p> <input asp-for="dislikes[i]" /></p>

                }
                <br />
                <h4 style="color:darkslateblue">Favorites:</h4>
                <br />
                <p>Movie: <input asp-for="movie" /></p>
                <p>Book: <input asp-for="book" /></p>
                <p>Restaurant: <input asp-for="restaurant" /></p>
                <p>Quote: <input asp-for="quote" /></p>
                <br />
                <p>Make My Profile visible to other members?:</p>
                <select asp-for="accountVisible">
                    <option>No</option>
                    <option>Yes</option>
                </select>
                <br />
                <br />
                <button type="submit" class="btn btn-danger">Update Profile</button>


    </form>
    <br />
    <br />
    <form asp-controller="EditProfile" asp-action="RedirectDashboard" method="post">

        <button type="submit" class="btn btn-danger">Back</button>
    </form>

    </div>
    </div>





    <footer class="bg-dark">
        <div class="container text-light text-center">
            <h5 class="p-5 mb-3">Copyright © 2024 Love Lounge. All rights reserved.</h5>
        </div>
    </footer>


</body>
</html>
