@model ProfileModel
@{
    Layout = "LoggedInLayout";
}



<!DOCTYPE html>

<html>
<head>

</head>
<body style="padding-top: 10%">


    <form asp-controller="EditProfile" asp-action="Update" method="post">
        <div>

            <h1>Manage Profile</h1>

            <br />
            <br />
            <div class="centered-content">
                <br />
                Profile Image:
                <input asp-for="ProfileImage" class="form-control" />
                <br />
                <br />
                Phone Number:
                <input asp-for="PhoneNumber" class="form-control" />
                <br />
                <br />
                Address:
                <input asp-for="Address" class="form-control" />
                <br />
                <br />
                City:
                <input asp-for="City" class="form-control" />
                <br />
                <br />
                State:
                <select asp-for="State" class="form-control">
                    <option> No Selection</option>
                    <option>Alabama</option>
                    <option>Alaska</option>
                    <option>Ariozna</option>
                    <option>Arkansas</option>
                    <option>California</option>
                    <option>Colorado</option>
                    <option>Conneticut</option>
                    <option>Delaware</option>
                    <option>Florida</option>
                    <option>Georgia</option>
                    <option>Hawaii</option>
                    <option>Idaho</option>
                    <option>Illinois</option>
                    <option>Indiana</option>
                    <option>Iowa</option>
                    <option>Kansas</option>
                    <option>Kentucky</option>
                    <option>Louisiana</option>
                    <option>Maine</option>
                    <option>Maryland</option>
                    <option>Massachusetts</option>
                    <option>Michigan</option>
                    <option>Minnesota</option>
                    <option>Mississippi</option>
                    <option>Missouri</option>
                    <option>Montana</option>
                    <option>Nebraska</option>
                    <option>Nevada</option>
                    <option>New Hampshire</option>
                    <option>New Jersey</option>
                    <option>New Mexico</option>
                    <option>New York</option>
                    <option>North Carolina</option>
                    <option>Morth Dakota</option>
                    <option>Ohio</option>
                    <option>Oklahoma</option>
                    <option>Oregon</option>
                    <option>Pennsylvania</option>
                    <option>Rhode Island</option>
                    <option>South Carolina</option>
                    <option>South Dakota</option>
                    <option>Tennessee</option>
                    <option>Texas</option>
                    <option>Utah</option>
                    <option>Vermont</option>
                    <option>Virginia</option>
                    <option>Washington</option>
                    <option>West Virginia</option>
                    <option>Wisconsin</option>
                    <option>Wyoming</option>

                </select>
                <br />
                <br />
                Occupation:
                <input asp-for="Occupation" class="form-control" />
                <br />
                <br />
                Description:
                <input asp-for="Description" class="form-control" />
                <br />
                <br />
                Age:
                <input asp-for="Age" class="form-control" />
                <br />
                <br />
                Weight:
                <input asp-for="Weight" class="form-control" />
                <br />
                <br />
                Height (ex: 5.5):
                <input asp-for="Height" class="form-control" />
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <h2>LIKES (add up to 5)</h2>:<br />
            <br />
            <div class="centered-content">
                <br />
                1:
                <input asp-for="Likes" class="form-control" />
                <br />
                <br />
                2:
                <input asp-for="Likes" class="form-control" />
                <br />
                <br />
                3:
                <input asp-for="Likes" class="form-control" />
                <br />
                <br />
                4:
                <input asp-for="Likes" class="form-control" />
                <br />
                <br />
                5:
                <input asp-for="Likes" class="form-control" />
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <h2>DISLIKES (add up to 5):</h2><br />
            <br />
            <div class="centered-content">
                <br />
                1:
                <input asp-for="Dislikes" class="form-control" />
                <br />
                <br />
                2:
                <input asp-for="Dislikes" class="form-control" />
                <br />
                <br />
                3:
                <input asp-for="Dislikes" class="form-control" />
                <br />
                <br />
                4:
                <input asp-for="Dislikes" class="form-control" />
                <br />
                <br />
                5:
                <input asp-for="Dislikes" class="form-control" />
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <br />
            <h2>FAVORITES:</h2><br />
            <br />
            <div class="centered-content">
                <br />
                Movie:
                <input asp-for="Movie" class="form-control" />
                <br />
                <br />
                Book:
                <input asp-for="Book" class="form-control" />
                <br />
                <br />
                Restaurant:
                <input asp-for="Restaurant" class="form-control" />
                <br />
                <br />
                Quote:
                <input asp-for="Quote" class="form-control" />
                <br />
                <br />
                <br />
                Cat or Dog?:
                <select asp-for="CatOrDog" class="form-control">
                    <option>No Selection</option>
                    <option>Neither</option>
                    <option>Cat</option>
                    <option>Dog</option>
                </select>
                <br />
                <br />
            </div>
            <br />
            <br />
            <div class="centered-content">
                What kind of commitment type do you want?:
                <select asp-for="CommitmentType" class="form-control">
                    <option>No</option>
                    <option>Yes</option>
                </select>
                <br />
            </div>
            <br />
            <br />
            <div class="centered-content">
                <br />
                Make My Profile visible to other members?:
                <select asp-for="AccountVisible" class="form-control">
                    <option>No Selection</option>
                    <option>Friends</option>
                    <option>Relationship</option>
                    <option>Marriage</option>
                    <option>Not Sure</option>
                </select>
                <br />
                <br />
            </div>
            <br />
            <br />
            <br />
            <button type="submit" class="btn">Update Profile</button>
            <button type="button" class="btn">Back</button>
            <br />
            <br />
            <br />
            <label asp-validation-for="InvalidNumber" class="text-warning font-weight-bold font-italic font-underline">!! You must enter a valid number for height, age, and weight!!</label>
            <br />
            <br />
            <label asp-validation-for="AccountUpdated" class="text-success font-weight-bold font-italic font-underline">Your Account Has Been Updated!</label>
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
            <br />
        </div>
    </form>
</body>
</html>
