@{
    ViewData["Title"] = "Home Page";
}

@{
    Layout = "LoggedOutLayout";
}

<!DOCTYPE html>

<html lang="en">
<head>

    <title>Home Page</title>
</head>
<body>
    <form id="frmHome" method="post">
      
        <div class="jumbotron jumbotron-fluid" style="background-color: lightpink">
            <div class="container">
                <h1 class="text-center m-5 " style="color: darkred">Welcome to Love Lounge</h1>
                <p class="lead font-weight-bold">Where Connections Blossom and Love Flourishes!</p>
                <p>
                    We're thrilled to have you join us in our vibrant community of singles seeking genuine connections and meaningful relationships. At Love Lounge, we believe that everyone deserves to find love in a welcoming and supportive environment.

                    Whether you're looking for romance, companionship, or simply someone to share laughs and adventures with, you've come to the right place. Our platform is designed to help you navigate the journey of finding love with ease and excitement.

                    So, why wait? Dive into Love Lounge today and let the magic of connection unfold. Your next chapter of love could be just a click away!
                </p>
            </div>
        </div>
        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center m-4 " style="color: darkred">Our Mission</h1>
                        <p>
                            At Love Lounge, we're not just another dating website – we're a vibrant community dedicated to fostering authentic connections in a welcoming and inclusive environment. Our mission is simple: to provide a platform where singles can explore, connect, and build lasting relationships based on mutual respect, compatibility, and shared values.

                            <br />
                            <br />
                            What sets Love Lounge apart is our commitment to creating a space that goes beyond swipes and superficial interactions. We prioritize quality over quantity, offering personalized matchmaking features and insightful compatibility assessments to help you find someone truly compatible.

                            Unlike other dating websites, Love Lounge is more than just a platform for finding dates – it's a supportive community where you can engage with like-minded individuals, share experiences, and celebrate the journey of love together.
                        </p>
                    </div>
                    <div class="col-md-6">
                        <img src="~/css/sunset.jpg" height="500" width="600" />
                    </div>
                </div>
            </div>
        </div>
    
    </form>
</body>
</html>
